
.topnav > a {
    text-align: center;
    color: #fff;
    background-color: #d96459;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 3px 5px;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 20px;
}

.topnav > a:hover {
    color: #d96459;
    background-color: #fff;
    border: 1px solid #d96459;
}
