body {
    font-family: 'Courier New', monospace;
    font-size: 16px;
    background: linear-gradient(to bottom, #588c7e 15%, #f2e29446 40%);
    background-repeat: no-repeat;
}

.header { 
    grid-area: header; 
   text-align: center;
}

.left {
     grid-area: left;  
 
}

.middle { 
    grid-area: middle;
   
}

.right { 
    grid-area: right;
    text-align: center;
   
}

.footer { 
    grid-area: footer; 
    background-color: #588c7e;
    margin: 25px 0 0 0;
    height: 50px;
}

.grid-container {
  display: grid;
  grid-template-areas:
  'left left left left left left'
  'header header header header header header' 
  'right right middle middle middle middle' 
  'footer footer footer footer footer footer';
  grid-column-gap: 25px;
}



h1 {
    text-align: center;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    margin: 5px;
}

h2 {
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-weight: lighter;
    margin: 5px;
}

h3 {
    text-align: center;
    font-size: 30px;
    margin: 5px;
}

h4 {
    font-size: 20px;
    text-align: center;
}

ul {
    text-align: left;
    list-style: circle;
    list-style-position: inside;
    margin: auto;
}

p, li {
   font-size: 16px;
}


.left > a {
    text-align: center;
    color: #fff;
    background-color: #d96459;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 3px 5px;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 20px;
}

.left > a:hover {
    color: #d96459;
    background-color: #fff;
    border: 1px solid #d96459;
    
}

.headimg {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.post {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: 5px solid #d96459;
    margin: 12px;
    padding: 16px;
    border-radius: 5px;
    background-color: #fff;
    width: 70%;
    margin: auto;
}

.date {
    font-size: 14px;
}

.more {
    text-align: right;
    margin-right: 5px;
}

.more > a {
    color: #d96459;
    font-size: 16px;
}

.fad {
    text-align: right;
    color: #f2e394;
    margin-right: 12px;
    margin-top: 0px;
}

.fad:hover {
    color: #000;
    cursor: pointer;
}

.fa {
    text-align: center;
    color: #d96459;
    margin: 5px 2px;
}

.fa:hover {
    color: #588c7e;
    cursor: pointer;
}

.rightside {
    text-align: right;
}

.reply {
    color: #d96459;
    font-size: 16px;
}

.reply:hover {
    color: #588c7e;
    cursor: pointer;
}
