* {
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', monospace !important;
  margin: 0 5px;
}


/* top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #588c7e;
}

/* topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
}

/* on hover */
.topnav a:hover {
  background-color: #f2ae72;
  color: black;
}


/* header */
.header {
  grid-area: header;
  background-color: #f2e394 ;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

.headimg {
  position: relative;
  width: 200px;
}

h1 {
  font-weight: bold !important;
  font-size: 40px;
  font-family: 'Courier New', monospace !important;
}

h2 {
  font-weight: 200 !important;
  font-size: 20px !important;
  font-family: 'Courier New', monospace !important;
}

/*container */
.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left left right right right right' 
    'footer footer footer footer footer footer';
  grid-column-gap: 10px;
  grid-row-gap: 10px;
} 

.left,
.right {
  padding: 10px;
  margin: 10px;
}

/* left column */
.left {
  grid-area: left;
}

/* right column */
.right {
  grid-area: right;
}

/* footer */
.footer {
  grid-area: footer;
  background-color: #588c7e;
  padding: 10px;
  text-align: center;
}

/*W3.CSS code override*/

.w3-button {
  background-color: #d96459 !important;
  color: #fff !important;
}

.w3-row-padding {
  display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}