* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Courier New', monospace !important;
  }
  
  /* header */
  .header {
    text-align: center;
    font-size: 35px;
    background-color: #588c7e;
  }

  h1 {
    font-weight: bold !important;
    font-size: 40px;
    font-family: 'Courier New', monospace !important;
    color: #fff;
  }